name: Deploy Frontend

on:
  push:
    branches: ["main"]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.11.0"

      - name: Set environment variables
        run: |
          echo "NEXT_PUBLIC_API_URL=https://kpsraufbey.site/api" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_MODE=production" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_SOMETHING=example" >> $GITHUB_ENV

      - name: Install dependencies
        run: npm install

      - name: Build Next.js
        run: npm run build

      - name: Upload files to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "out/*"
          target: "/var/www/kpsraufbey.site/html/"

      - name: Reload nginx
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo systemctl reload nginx
